p.head1 {
    width: 20%;
    float: left;
}
p.head2 {
    width: 20%;
    float: left;
}
p.head3 {
    width: 20%;
    float: left;
}
p.head4 {
    width: 20%;
    float: left;
}
p.head5 {
    width: 20%;
    float: left;
}
